.footer {
  display: flex;
  flex-direction: column;
  margin-top: 21px;
  .row1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 51px;
    width: 100%;
    a {
      @include impLinks;
      font-size: 0.86rem;
    }
    .social {
      display: flex;
      align-items: center;
      img {
        width: 2.11rem;
        height: 2.11rem;
      }
    }
  }
  .row2 {
    height: 36px;
    span {
      img {
        vertical-align: middle;
      }
    }
  }
}
