.allTags {
  text-align: center;
  h1 {
    margin: 1.77rem 0 2.77rem 0;
  }
  .tagList {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
    li {
      float: left;
      background-color: $tag-back;
      border-radius: 0.17rem;
      margin-bottom: 1.1rem;
      &:not(:last-child) {
        margin-right: 1.1rem;
      }
      &:hover {
        background-color: darken($color: $tag-back, $amount: 16%);
      }
      a {
        display: block;
        color: $tag;
        padding: 1.1rem;
        font-size: 1.4rem;
        font-weight: 571;
        .tagCount {
          padding: 0.21rem 0.71rem;
          margin: 0 0.1rem;
          background-color: $tag;
          color: $white;
          border-radius: 0.14rem;
          font-size: 1.27rem;
        }
      }
    }
  }
}
