@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap");

.hero {
  font-family: "Montserrat", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  max-width: 94vw;
  height: 67vh;
  margin: 0 auto;
  color: $black;

  .hero-small-up,
  .hero-small-down {
    white-space: nowrap;
    overflow: hidden;
    font-size: 1.6rem;
  }

  .hero-small-up {
    margin-bottom: 0.31rem;
    animation: typing 5.5s steps(75) 0.1s 1 normal both;
  }
  .hero-small-down {
    animation: typing 5.5s steps(67) 2s 1 normal both;
  }

  .hero-big {
    font-size: 6.1rem;
    font-weight: 600;
    line-height: 5.4rem;
    animation-delay: 11s;
    animation: fade-in 1.1s ease-in;
  }

  @include maxW($sm) {
    .hero-big {
      font-size: 14vw;
      line-height: normal;
    }
    .hero-small-up {
      margin-bottom: 0;
    }
  }
  @include maxW($xs) {
    .hero-small-up,
    .hero-small-down {
      font-size: 6vw;
    }
  }
  @keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes typing {
    0% {
      width: 0;
    }
    100% {
      width: 100%;
    }
  }
}
