/* Main styles */
/* Base styles */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&family=Inter:wght@400;500;600;700;900&display=swap");
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Inter", sans-serif;
  color: #454545;
}

body {
  margin: 0;
}

h1 {
  font-family: "Montserrat", sans-serif;
  color: #000;
  font-weight: 600;
  margin: 0 0 0.8rem;
  font-size: 2.27727rem;
  line-height: 2.48727rem;
}

h2 {
  font-family: "Montserrat", sans-serif;
  color: #000;
  font-weight: 600;
  margin: 0 0 0.7rem;
  font-size: 1.99455rem;
  line-height: 2.20455rem;
}

h3 {
  font-family: "Montserrat", sans-serif;
  color: #000;
  font-weight: 600;
  margin: 0 0 0.6rem;
  font-size: 1.71182rem;
  line-height: 1.92182rem;
}

h4 {
  font-family: "Montserrat", sans-serif;
  color: #000;
  font-weight: 600;
  margin: 0 0 0.5rem;
  font-size: 1.42909rem;
  line-height: 1.63909rem;
}

h5 {
  font-family: "Montserrat", sans-serif;
  color: #000;
  font-weight: 600;
  margin: 0 0 0.4rem;
  font-size: 1.14636rem;
  line-height: 1.35636rem;
}

h6 {
  font-family: "Montserrat", sans-serif;
  color: #000;
  font-weight: 600;
  margin: 0 0 0.3rem;
  font-size: 0.86364rem;
  line-height: 1.07364rem;
}

p {
  margin: 0 0 0.5rem;
}

a {
  text-decoration: none;
  color: #454545;
}

abbr {
  border-bottom: 1px dotted rgba(0, 0, 0, 0.5);
  cursor: help;
}

acronym {
  border-bottom: 1px dotted rgba(0, 0, 0, 0.5);
  cursor: help;
}

abbr[title] {
  border-bottom: 1px dotted rgba(0, 0, 0, 0.5);
  cursor: help;
  text-decoration: none;
}

thead {
  text-align: left;
}

td,
th {
  text-align: left;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  font-feature-settings: "tnum";
  -moz-font-feature-settings: "tnum";
  -ms-font-feature-settings: "tnum";
  -webkit-font-feature-settings: "tnum";
  padding-left: 0.96667rem;
  padding-right: 0.96667rem;
  padding-top: 0.725rem;
  padding-bottom: calc(0.725rem - 1px);
}

th:first-child,
td:first-child {
  padding-left: 0;
}

th:last-child,
td:last-child {
  padding-right: 0;
}

tt {
  background-color: rgba(0, 0, 0, 0.04);
  border-radius: 3px;
  font-family: "SFMono-Regular", Consolas, "Roboto Mono", "Droid Sans Mono", "Liberation Mono", Menlo, Courier, monospace;
  padding: 0;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
}

::-moz-selection {
  background-color: rgba(73, 10, 155, 0.89);
  color: #fff;
}

::selection {
  background-color: rgba(73, 10, 155, 0.89);
  color: #fff;
}

::-webkit-scrollbar {
  width: 6.7px;
}

/* Track */
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 1.1px #8a4fc4;
          box-shadow: inset 0 0 1.1px #8a4fc4;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #8a4fc4;
}

.cContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  max-width: 878px;
  margin: 0 auto;
  padding: 0 2.4vw;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow-wrap: break-word;
}

@media (min-width: 1920px) {
  .cContainer {
    max-width: 1420px;
  }
}

blockquote {
  background-color: #d9bbf5;
  color: #000;
  font-size: 1.1rem;
  font-weight: 500;
  padding: 1rem 2rem;
  margin: 0 0 0.75rem;
  border-left: 4px solid #490a9b;
  border-radius: 1.1px;
}

blockquote p {
  margin: 0;
}

.navbar {
  height: 64px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.navbar .brand {
  height: 100%;
}

.navbar .brand img {
  height: 90%;
  width: auto;
}

.navbar .links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar .links a {
  font-weight: 500;
}

.navbar .links a:hover {
  color: #490a9b;
}

.navbar .links a:not(:last-child) {
  margin-right: 1.25rem;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 21px;
}

.footer .row1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 51px;
  width: 100%;
}

.footer .row1 a {
  font-size: 0.87rem;
}

.footer .row1 a:hover {
  color: #490a9b;
}

.footer .row1 a:not(:last-child) {
  margin-right: 1.25rem;
}

.footer .row1 .social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer .row1 .social img {
  width: 2.11rem;
  height: 2.11rem;
}

.footer .row2 {
  height: 36px;
}

.footer .row2 span img {
  vertical-align: middle;
}

pre {
  padding: 1rem;
  border-radius: 4.11px;
  font-family: "Inter", sans-serif;
  font-size: 0.76rem;
  max-width: 100%;
  overflow-x: auto;
  /* Track */
  /* Handle */
}

pre::-webkit-scrollbar {
  height: 6.7px;
}

pre::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 4px #8a4fc4;
          box-shadow: inset 0 0 4px #8a4fc4;
}

pre::-webkit-scrollbar-thumb {
  background: #8a4fc4;
}

pre .line-number-style {
  margin-right: 0.75rem;
  padding-left: 4px;
  color: #c3c3c4;
  vertical-align: middle;
}

pre .highlight-line {
  background-color: rgba(182, 125, 236, 0.19);
  -webkit-box-shadow: -2.21px 0 0 0;
          box-shadow: -2.21px 0 0 0;
}

.posts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 2rem;
}

.posts .onePost {
  width: 100%;
  cursor: pointer;
}

.posts .onePost:not(:last-child) {
  border-bottom: 1px solid rgba(25, 6, 44, 0.54);
}

.posts .onePost:hover {
  background-color: rgba(182, 125, 236, 0.09);
  border-radius: 2.71px;
}

.posts .onePost .postLink {
  display: block;
  padding: 1.21rem 2.11rem;
  width: 100%;
  height: 100%;
}

.posts .onePost .postLink .postTitle {
  margin: 0 0 0.21rem;
  font-size: 1.4rem;
  font-weight: 700;
}

.posts .onePost .postLink .postData {
  margin: 0 0 0.11rem;
  font-size: 0.81rem;
}

.post {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: left;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  max-width: 100%;
}

.post a {
  background: -webkit-gradient(linear, left top, left bottom, from(#490a9b), to(#490a9b));
  background: linear-gradient(to bottom, #490a9b 0%, #490a9b 100%);
  background-position: 0 100%;
  background-repeat: repeat-x;
  background-size: 6px 2.11px;
  color: #490a9b;
  -webkit-transition: background-size 0.1s cubic-bezier(0.33, 0.66, 0.66, 1);
  transition: background-size 0.1s cubic-bezier(0.33, 0.66, 0.66, 1);
  font-weight: 600;
}

.post a:hover {
  background-size: 4px 50px;
  color: #fff;
}
/*# sourceMappingURL=main.css.map */