/* Base styles */
//@import "./variables";
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;541;571;700&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  color: $font-primary;
}

body {
  margin: 0;
}

//headings
@for $index from 1 through 6 {
  $margin: (0.9rem - ($index / 10));
  $size: (2.56rem - (($index / 11) * 3.11));
  h#{$index} {
    color: $black;
    font-weight: 571;
    margin: 0 0 $margin;
    font-size: $size;
    line-height: $size + 0.21rem;
    @include maxW($md) {
      font-size: $size - 0.27rem;
      line-height: $size - 0.27rem;
    }
  }
}

p {
  margin: 0 0 0.5rem;
}

a {
  text-decoration: none;
  color: $font-primary;
}

img {
  max-width: 100%;
}

abbr {
  border-bottom: 1px dotted hsla(0, 0%, 0%, 0.5);
  cursor: help;
}
acronym {
  border-bottom: 1px dotted hsla(0, 0%, 0%, 0.5);
  cursor: help;
}
abbr[title] {
  border-bottom: 1px dotted hsla(0, 0%, 0%, 0.5);
  cursor: help;
  text-decoration: none;
}
thead {
  text-align: left;
}
td,
th {
  text-align: left;
  border-bottom: 1px solid hsla(0, 0%, 0%, 0.12);
  font-feature-settings: "tnum";
  -moz-font-feature-settings: "tnum";
  -ms-font-feature-settings: "tnum";
  -webkit-font-feature-settings: "tnum";
  padding-left: 0.96667rem;
  padding-right: 0.96667rem;
  padding-top: 0.725rem;
  padding-bottom: calc(0.725rem - 1px);
}
th:first-child,
td:first-child {
  padding-left: 0;
}
th:last-child,
td:last-child {
  padding-right: 0;
}
tt {
  background-color: hsla(0, 0%, 0%, 0.04);
  border-radius: 3px;
  font-family: "SFMono-Regular", Consolas, "Roboto Mono", "Droid Sans Mono",
    "Liberation Mono", Menlo, Courier, monospace;
  padding: 0;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
}

code {
  background-color: darken($color: $light-gray, $amount: 2.7%);
  padding: 1px 4px;
  color: $black;
  border-radius: 2px;
}

::selection {
  background-color: transparentize($color: $link-hover, $amount: 0.21);
  color: $white;
}

::-webkit-scrollbar {
  width: 6.7px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 1.1px $code-scrollbar;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: $code-scrollbar;
}
