// Mixins

// Media queries

@mixin maxw($wVal) {
  @media (max-width: ($wVal)) {
    @content;
  }
}

@mixin minw($wVal) {
  @media (min-width: ($wVal)) {
    @content;
  }
}

// Default button
@mixin dbtn {
  border: none;
  border-radius: 4px;
  font-size: 1rem;
  font-weight: 600;
  padding: 0.67rem 0.87rem;
  cursor: pointer;
  &:focus {
    outline: none;
  }
  @include maxw(768px) {
    font-size: 0.7rem;
    padding: 0.47rem 0.67rem;
  }
}
